.entry-form__login-link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  min-width: 100%;
  cursor: pointer;
}

.entry-form__login-link:hover {
  opacity: 0.6;
}