.popup__close {
  appearance: none;
  border: 0;
  background-color: rgba(0,0,0,0);
  background-image: url(../../../images/popup-close.svg);
  min-height: 32px;
  min-width: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: opacity linear 0.2s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 565px) {
  .popup__close {
    min-height: 20px;
    min-width: 20px;
    top: -36px;
    right: 0;
  }
}